<main>
  <app-navbar></app-navbar>
  
  <div class="intro">
    <h1>Welcome to <span style="color: #db7420;">PC PARTS</span></h1>
    <p>
      Welcome to the ultimate destination for all your PC building needs! We proudly present our cutting-edge PC parts e-commerce website, where technology enthusiasts and gamers alike can embark on an exhilarating journey of customization and performance.
    </p>
    <button (click)="scrollToAbout()">Learn More</button>
  </div>
</main>

<hr>

<div class="container" id="about">
  <img src="/assets/prof.png" alt="GPU">
  <div class="content">
    <h1>About PC Parts</h1>
    <p>
      Welcome to PC PARTS, your premier destination for all your PC parts needs. 
      We are dedicated to providing a comprehensive online platform where technology enthusiasts, gamers, 
      and professionals can find a vast selection of high-quality PC components from renowned brands. 
      
      At PC PARTS, we understand the importance of sourcing the right components to optimize your PC's performance. 
      That's why we curate our inventory to offer an extensive range of products, including processors, motherboards, graphics cards, 
      memory modules, storage solutions, power supplies, cooling systems, and more. With our diverse selection, you can easily find the 
      perfect parts to upgrade or build your ideal PC.

      Quality and reliability are at the core of our business. We work closely with leading manufacturers to ensure that every product we offer meets rigorous standards. 
      Our commitment to customer satisfaction extends beyond the point of purchase, as we provide comprehensive warranty support and excellent customer service to address 
      any concerns or issues you may encounter.
    </p>
  </div>
</div>

<br>
